version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
      - image: rabbitmq:3.7.4
    working_directory: /go/src/github.com/cashcowpro/moocro
    steps:
      - checkout
      - run: dockerize -wait tcp://localhost:5672 -timeout 1m
      - restore_cache:
          keys:
            - vendor-cache-{{ checksum "Gopkg.lock" }}
            - vendor-cache-
      - run: go version
      - run: make dependencies
      - save_cache:
          key: vendor-cache-{{ checksum "Gopkg.lock" }}
          paths:
            - vendor
      - run: make spec
      - run: make feature
      - run: make coverage
      - run: make analysis
    environment:
      AMQP_URL: amqp://guest:guest@localhost:5672/
      AMQP_PROVIDER: AMQP_URL
